.container
  .row
    .col-12
      %h1= @brigade.name
      - if current_user&.can_manage_brigade?(@brigade)
        = link_to 'Edit', edit_brigade_path(@brigade)

      - if @brigade.brigade_leaders.length
        %strong Brigade Leaders:
        = @brigade.brigade_leaders.map(&:name).join(", ")

      %h2 Members
      - members_over_time = Hash[@stats.find_all { |m| m.metric_name == "meetup_member_count" }.map { |m| [m.created_at.to_date, m.metric_value] }]
      = line_chart members_over_time, min: members_over_time.values.min, max: members_over_time.values.max

      - if @projects.any?
        %h2 Brigade Projects

        - github_projects, non_github_projects = @projects.partition(&:last_pushed_at)
        - active_projects, inactive_projects = github_projects.partition { |p| p.last_pushed_at > 1.year.ago }
        .card-columns
          - active_projects.each do |project|
            - github_repo = project.github_repo
            - github_repo_details = project.github_repo_details

            .card
              .card-header.text-muted
                - if github_repo
                  %i.fas.fa-eye
                  #{github_repo.body['subscribers_count']}

                  %i.fas.fa-star
                  #{github_repo.body['stargazers_count']}
                  - if github_repo.body['fork']
                    %i.fas.fa-code-branch
                    = github_repo.body['parent']['owner']['login']
                    \/
                    = github_repo.body['parent']['name']

              .card-body
                %h5.card-title= project.name
                .card-text
                  = github_repo.body['description']
              .card-footer
                - if project.link_url
                  = link_to project.link_url, target: '_blank' do
                    = project.link_url
                    %i.fas.fa-external-link-alt
                - if project.code_url
                  = link_to project.code_url, target: '_blank' do
                    %i.fab.fa-github

                - if project.last_pushed_at
                  Last updated: #{distance_of_time_in_words_to_now project.last_pushed_at}

        %h2 Inactive Projects:
        %ul
        - inactive_projects.each do |project|
          %li
            %strong= project.name
        - non_github_projects.each do |project|
          %li
            %strong= project.name
            (Unknown Code URL: #{project.code_url})

      - if @meetup_page
        - details = @meetup_page.body

        %h2 Meetup Details
        %ul
          %li
            %strong Last Updated:
            %span{ title: @meetup_page.updated_at }= distance_of_time_in_words_to_now @meetup_page.updated_at
          %li
            %strong Next Event:
            = Time.at(details['next_event'] / 1000) if details['next_event']
          %li
            %strong Last Event:
            = Time.at(details['last_event'] / 1000) if details['last_event']
          %li
            %strong Organizers:
            = details['organizers'].map { |o| o['name'] }.join(', ')
          %li
            %strong Total RSVPs:
            = details['past_rsvps']
          %li
            %strong Repeat RSVPers:
            = details['repeat_rsvpers']
          %li
            %strong Past Events:
            = details['past_events']
          %li
            %strong Member Count:
            = details['member_count']
          %li
            %strong Upcoming Events:
            = details['upcoming_events']

      - else
        %p No Meetup Metrics (#{link_to @brigade.meetup_url, @brigade.meetup_url})
