.container
  .row
    .col-12
      %h1= @brigade.name

      - if @projects.any?
        %h2 Brigade Projects

        %ul.list-group
          - @projects.sort_by { |p| p.name }.each do |project|
            %li.list-group-item
              %strong= project.name
              - if project.link_url
                = link_to project.link_url, target: '_blank' do
                  = project.link_url
                  %i.fas.fa-external-link-alt
              - if project.code_url
                = link_to project.code_url, target: '_blank' do
                  %i.fab.fa-github


      - if @meetup_page
        - details = @meetup_page.body

        %h2 Meetup Details
        %ul
          %li
            %strong Last Updated:
            %span{ title: @meetup_page.updated_at }= distance_of_time_in_words_to_now @meetup_page.updated_at
          %li
            %strong Next Event:
            = Time.at(details['next_event'] / 1000) if details['next_event']
          %li
            %strong Last Event:
            = Time.at(details['last_event'] / 1000) if details['last_event']
          %li
            %strong Organizers:
            = details['organizers'].map { |o| o['name'] }.join(', ')
          %li
            %strong Total RSVPs:
            = details['past_rsvps']
          %li
            %strong Repeat RSVPers:
            = details['repeat_rsvpers']
          %li
            %strong Past Events:
            = details['past_events']
          %li
            %strong Member Count:
            = details['member_count']
          %li
            %strong Upcoming Events:
            = details['upcoming_events']

      - else
        %p No Meetup Metrics (#{link_to @brigade.meetup_url, @brigade.meetup_url})
